.master-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.split-container {
  display: flex;
  width: 100%;
}

.left-panel {
  width: 20rem;
  padding: 2rem;
}

.right-panel {
  width: 70rem;
  padding-left: 2rem;
}

.divider {
  width: 2px;
  background-color: #ccc;
  height: auto;
  margin: 0 1rem;
}

.add-item-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.add-item-form input {
  padding: 10px;
  font-size: 16px;
}

.add-item-form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cards-wrapper {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 80vh;
  gap: 12px;
}

.item-card {
  background-color: #bdb9b9;
  background-color: #5a595b;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  font-weight: 500;
  width: fit-content;
}


.right-panel h2{
  text-align: center;
  margin-top: 1rem;
}

.add-item-form h2{
  text-align: center;

}

.add-item-form label{
  font-weight: bold;
}