
  .customerContainer {
    width: 85%;
    margin: 40px auto;
  }
  
  .styledButton {
    margin: 8px;
    padding: 8px 24px;
    border-radius: 8px;
    text-transform: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .styledButton:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .dialogPaper {
    width: 400px !important;
    max-width: 90%;
  }
  
  .actionIcons {
    width: 7rem;
  }
  
  .centerText {
    text-align: center;
  }
  
  .editIcon {
    margin-right: 8px;
    cursor: pointer;
  
  }
  
  .deleteIcon {
    color: rgb(178, 21, 21);
    margin-left: 0.5rem;
    cursor: pointer;
  }
    
  .itemList{
    margin-top: 2rem;
  }

  .addButton{
    background-color: #fffbe2 !important;
  }



  .kkk{
   background-color: #f4f7fa;
  }


  
.purchaseTable {
  margin-top: 35px;
  width: 98%;
  border-collapse: collapse;
  margin-left: 1rem;
}

.purchaseTable th,
.purchaseTable td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
 
}

.purchaseTable th {
  background-color:#38383e;
  color: white;
}

.trEven {
  background-color: #f5f5f5;
}