.item-listt {
    width: 100%;  
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
  }
  
  .item-listt h2 {
    margin-bottom: 10px;
  }
  
  .item-listt table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .item-listt th, .item-listt td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  .item-listt th {
    background: #1DA3A3;
    color: white;
  }
  