.navbar {  
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right,  #b88915 ,#b18c3c, #a94b1d);
  }
  
  .navbar-left {
    flex: 1;
  }
  
  .navbar-logo {
    height: 40px;
    width: auto;
    border-radius: 5px;
    margin-left: 1rem;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex: 2;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
  }

  .nav-link:hover ,.logout-button:hover{
    background:#91720c;
    color:white
  }
  
  .navbar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  .logout-button {
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background:#DAA520 ;
  }
  

  .nav-item.active .nav-link {
    color: #fff;         
    background-color: #150709;  
    border-radius: 5px;
    padding: 5px 10px;

  }
  