.scroll-table {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 0.5rem;
    margin-left: 1.1rem;
  }
  
  .scroll-table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
  }
  
  .scroll-table th,
  .scroll-table td {
    width: 6rem;
    min-width: 6rem;
    max-width: 6rem;
    padding: 4px;
    border: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  
  .scroll-table thead th {
    position: sticky;
    top: 0;
    background-color: #5b5353;
    color: white;
    z-index: 1;
    height: 2rem;
    background-color: aliceblue;
    background-color: rgb(224, 218, 208);
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .scroll-table td input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    height: 1.8rem;
    padding: 0 4px;
  }

  .MuiButton-root.add-button{
    background-color: black;
    color: white;
    margin-left: 1rem;
    margin-top: 1rem;
  }

  .total{
    margin-top: 1rem;
  }

  .scrap-weight{
    margin-top: 1rem;
    margin-left: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .scrap-weight input{
    width: 5rem;
    height: 1.4rem;
  }

  .scrap-weight b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 14rem;
  }


.save-btnn{
  background-color:#168787 ;
  font-size: 1rem;
  color: white;
  margin-top: 2rem;
  margin-left: 30rem;
  font-weight: bold;
}
