.filing-container{
    margin-left: 2rem;
    margin-top: 1rem;
}


.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .left-table,
  .right-table {
    flex: 1;
  }
  
  /* .right-table{
    background-color: rgb(179, 211, 243);
    background-color: azure;
    padding: 1rem;
  } */