.tablecontainer{
    display: flex;
    /* margin-left: 10rem; */
    margin-top: 0%;
    margin-left: 3.5rem;
 

}

.details b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
}

.card{
    margin-top: 3rem;
    display:grid;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    width: 60rem;
    /* margin-left: 10rem;     */
    margin-left: 5rem;
}

.details{
    margin-right: 40rem;
}

.headingg{
   font-size: 1.4rem;
   font-weight: bold;
   display: flex;
   justify-content: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details span{
    font-size: 1.1rem;
}

.datefields{
    margin-top: 2rem;
}

