/* .filing-container{
    margin-left: 2rem;
    margin-top: 1rem;
}


.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
  }
  
  .left-table,
  .right-table {
    flex: 1;
  }
 

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }
  
  .filters {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .table-wrapper {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .left-table, .right-table {
    flex: 1;
    min-width: 500px;
  } */


