.tablecontainer{
    display: flex;
    margin-left: 5rem;
    width: 65rem;
    margin-top: 0rem;
    
}

.details b{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
}

.card{
    margin-top: 2rem;
    display:grid;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 60rem;
    margin-left: 18rem;     
}

.details{
    margin-right: 40rem;
}

.headingg{
   font-size: 1.4rem;
   font-weight: bold;
   display: flex;
   justify-content: center;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.details span{
    font-size: 1.1rem;
}

/* SettingReport.module.css */
.customTableHead {
    background-color: rgb(186, 183, 177);
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
  }
  