
.pageWrapper {
    margin-top: 1rem;
    width: 90rem;
    margin-left: 3rem;
    background: #eeeef0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 6px;
    background: linear-gradient(135deg, #0d0d0d, #0b0b0b);
   
  }
  
  .headingg {
    font-size: 1.3rem;
    font-weight: bold;
    color: #4a2c13;
    text-align: center;
    margin-top: 2rem;
    border-bottom: 2px dashed #c2a676;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    color: white;
  }
  
  /* Customer Detail Rows */
  .details {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin: 0.4rem 0 0.4rem 1rem;
    color: white;
    margin-top: 1rem;
  }
  
  .details span {
    margin-left: 0.5rem;
    color: white;
  }
  
  hr {
    border: none;
    border-top: 1px solid #bfa77a;
    margin: 1rem 1rem 2rem 1rem;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
    padding: 0 1rem;
  }
  
  .card {
    border: 1px solid #cbb27d;
    border-radius: 10px;
    padding: 1.2rem;
    width: 280px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    background-color: #cbb27d;
    margin-left: 2rem;
  
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  

  .lotLabel {
    font-size: 1.25rem;
    font-weight: bold;
    color: #3e2a15;
    text-align: center;
  }
  

  .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 0.8rem;
  }
  

  .button {
    background-color: #5f4917;
    color: #fff;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background-color: #7a5b23;
  }
  

  .closebutton {
    background-color: #c0392b;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .closebutton:hover {
    background-color: #a93226;
  }
  
  .detailscard{
    background-color: #f9f7f2;
  }