.customerTableContainer {
    padding: 20px;
    margin-top: 30px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: white;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .th, .td {
    padding: 14px;
    text-align: center;
  }
  
  .th {
    background-color: #1976d2;
    color: white;
    font-weight: bold;
  }
  
  .trEven {
    background-color: #f5f5f5;
  }
  
  
  .iconButton {
    color: #1976d2;
  }
  



.tableCell {
    border: 1px solid #ccc;
    text-align: center;
    padding: 0.5rem;
  }

.tablehead {
    background-color: #38383e;
    color: antiquewhite;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}